
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
h1{
    text-align: center;
    color: white;
}
h2 {
  color: black;
  text-align: left;
}
header {
  background-color:brown;
  color: white;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}


nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
}

